{% extends 'parts/base.twig' %}





{% block body %}
    {% if message is not null %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <h1>Форма редактирования</h1>
    <form method="post" action="/edit-product-post/{{ form.Product_id }}/">

        <div class="mb-3">
            <label for="Type_furniture" class="form-label">Тип мебели</label>
            <input type="text" name="Type_furniture" class="form-control" id="Type_furniture" value="{{ form ? form.Type_furniture }}" required>
            <label for="Price" class="form-label">Цена</label>
            <input type="number" name="Price" class="form-control" id="Price" value="{{ form ? form.Price }}" required>
        </div>
        <div class="mb-3">
            <label for="Available_number" class="form-label">Доступное количество</label>
            <input type="number" name="Available_number" class="form-control" id="Available_number" value="{{ form ? form.Available_number }}" required>
        </div>
        <div class="mb-3">
            <label for="Code" class="form-label">Код товара</label>
            <input type="number" name="Code" class="form-control" id="Code" value="{{ form ? form.Code }}" required>
        </div>
        </div>
        <button type="submit" class="btn">Обновить информацию товара</button>

    </form>
{% endblock %}